# agents
.agent/skills
.agents/mcp_config.json
.agents/skills
.claude/skills
.cursor/mcp.json
.cursor/skills
.github/skills
.mcp.json
.opencode/skills
.vscode/mcp.json
apm_modules/
opencode.json

# env files
.env
.env.*
!.env.sample

# expo
.expo/
expo-env.d.ts
web-build/

# others
# keep-sorted start
*.local
.DS_Store
.devenv
.direnv
.git
.pre-commit-config.yaml
.svn
.trivycache/
.venv/
__MACOSX
__pycache__
dist/
megalinter-reports/
node_modules/
report/
target/
# keep-sorted end

#build
android/
ios/
