# package managers / lockfiles
*.lock
*.lock.*
*.lock.yaml
apm.lock.yaml
package-lock.json

# build outputs & caches
.expo/
.trivycache/
android/
dist/
ios/
megalinter-reports/
node_modules/
web-build/
